.logo {
    color: $link-color;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: decimal-round(28px / 24px);

    @include media (desktop){
        font-size: 26px;
        line-height: decimal-round(31px / 26px);
    }
}

// Лого хедер
.logo__part--blacktext {
    color: #000000;
}

// Лого футер
.logo__part--whitetext {
    color: $main-white-color;
}