
    $main-text-color: #212121;
    $secondary-text-color: #757575;
    $link-color: #2196f3;
    $main-white-color: #ffffff;
    $background-gray: #f5f4fa;
    $button-hover: #188ce8;
    $socials-icon: #afb1b8;
    $card-gap: 30px;
    $border-radius: 4px;
